$border-left-color: #C4C4C4;
$primary-color: #FFFFFF;
$icons-color: #314B99;
$create-btn-color: #D6DBEB;
$lines-color: #EEEBE9;
$text-color: #16191D;
$status-color: #134EC1;
$add-todo-btn-color: #F0F5FF